<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Javi.GG</title>
    <link rel="stylesheet" href="home.css">
    <!-- <script>
        function getSummonerInfo() {
            const gameName = document.getElementById("gameName").value;
            const tagLine = document.getElementById("tagLine").value;

            fetch(`/summoner/${gameName}/${tagLine}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok " + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    document.getElementById("result").innerText = JSON.stringify(data, null, 2);
                })
                .catch(error => {
                    document.getElementById("result").innerText = 'Error: ' + error.message;
                });
        }
    </script> -->
</head>
<body>
    <h1>Enter Your League of Legends Username</h1>
    <form id="summonerForm" th:action="@{/summoner}" method="get">
        <label for="gameName"></label>
        <input type="text" id="gameName" name="gameName" placeholder="Name" required><br>
        <label for="tagLine"></label>
        <input type="text" id="tagLine" name="tagLine" placeholder="Tag Line"><br>
        <input id="submitSummoner" type="submit" value="Get Stats">
    </form>
    <h2>Summoner Info</h2>
    <div th:if="${summoner}">
        <p><strong>Name:</strong> 
            <span th:text=${gameName}></span>&nbsp; &#35;
            <span th:text=${tagLine}></span></p>
        <p><strong>Summoner Level:</strong> <span th:text="${summoner.summonerLevel}"></span></p>
        <p><strong>Profile Icon ID:</strong> <span th:text="${summoner.profileIconId}"></span></p>
        <!-- Add more fields as necessary -->
        <h2>Match History</h2>
        <div th:if="${matchHistory}">
            <ul>
                <li th:each="match : ${matchHistory}" th:text="${match}"></li>
            </ul>
        </div>
    </div>
</body>
</html>